/*!
 * Roots 6.5.0
 */


.splash .banner{
   display: none!important;
}
.splash .headline{
   font-size: 36px;
   color: #000;
}
.splash .fa{
   font-size: 48px;
   color: #436268;
}
.splash .icons{
   max-width: 52px;
}
.splash .socials{
   padding-left: 0px;
   list-style: none;
}
.splash .socials li{
   display: inline-block;
   padding-left: 15px;
   padding-right: 15px;
}
.splash *{
   text-align: center;
}
.splash li.icons.amazon {
   padding-right: 0px;
padding-left: 0px;
margin-left: 15px;
margin-bottom: -10px;
}
.splash .credits{
   display: none;
}
.splash .content-info{
   display: none;
}
.splash .container{
   background: transparent;
}

/* ==========================================================================
   Base
   ========================================================================== */

body {background: #fff; }
p {color:#454545;}
a{
   text-decoration: none!important;
   color:#618a94;
}
a:hover {color:#436268;}
h1,h2,h3,h4,h5,h6,p,a{
   font-family: "museo-sans";
}
h1{
   font-weight: 900;
   letter-spacing: 3px;
   color: #618a94;
}
h2{
   letter-spacing: .0px;
   font-weight: 500;
   color: #618a94;
}
h3{
   font-weight: 300;
   letter-spacing: .0px;
   color: #618a94;
}

.container{
   background: #fff;
}
.container .container {
width: initial;
}
/*
 ***************************************************************
   The following are ordered by the styles in the style guide. 
   I've tried to label them as clearly as possible.
   Please see me (Ian) with any questions.  
 ***************************************************************
*/

/*Praise for Erin*/
.quote-title{
   font-weight: 700;
   text-transform: uppercase;
   font-size: 25px;
   color: #fff;
}
.white{
   font-weight: 100;
   font-size: 25px;
   color: #fff;
}
.white b{
   font-weight: 700;
   font-size: 18px;
   color: #fff;
}
/* New Book Coming Soon */
.new-book{
   font-weight: 700;
   font-size: 25px;
   color: #fff;
}
/* Strength Tip */
.blog-title{
   font-weight: 700;
   color: #fff;
   font-size: 20px;
   float: left;
}
.blog-title-banner a,  .blog-title-banner a .blog-title {
margin-top: 15px;
}
.blog-roll-body .btn {
float: left;
}
.blog-roll-body {
margin-bottom: 75px;
}
.btn.btn-blue{
   font-weight: 900;
   font-size: 16px;
   text-transform: uppercase;
   letter-spacing: .02em;
   background: #5F8993;
   color: #fff;
   border-radius: 0px;
}
.margin-top-md{
   margin-top:50px;
} 

/* Strength Tip #10 (Blog Roll)? */
.blog-roll-title{
   font-weight: 700;
   font-size: 38px;
   color: #618a94;
   margin-top: 0px;
}
.blog-roll-meta{
   font-weight: 500;
   font-size: 18px;
   color: #618a94;
}
.img-bg {
padding-bottom: 100%;
}
.vid-thumb, .blog-thumb {
padding-bottom: 55%;
background-position: 50% 10%!important;
-webkit-filter: grayscale(0.3);
}
.blog-box, .video-box{
   -webkit-filter: grayscale(0.3);
   transition: all .4s ease;
}
.video-box:hover, .blog-box:hover {
transition: all .4s ease;
-webkit-filter: grayscale(0);
}
.blog-title-banner {
position: absolute;
background: #436268;
bottom: 55px;
width: 100%;
padding: 5px 20px;
}
.blog-title-banner a.btn.btn-blue {
float: right;
}
.blog-container {
position: relative;
}
.home-boxes {
background: #436268;
padding: 5px;
font-weight: 700;
font-size: 14px;
color: #fff;
}
.blog-roll-img {
padding-bottom: 40%;
margin-bottom:15px;
}
.blog-roll-title, .blog-roll-meta, .blog-roll-body .btn{
   text-align: left;
}
.page-header {
display: none;
}
.quote-block {
background: #5F8993;
padding: 15px 15px;
color: #fff;
text-align: center;
}

.single-video .published {display:none;}


/* ==========================================================================
   About (See the Style Guide)
   ========================================================================== */
.about h1{
   color: #618a94;
   font-size: 32px;
   font-weight: 500;
}
.about h4{
   font-weight: 500;
   font-size: 24px;
   color: #618a94;
}
.about p{
   color: #618a94;
   font-weight: 500;
   font-size: 15px;
   line-height:29px;
}
.about .btn{
   font-weight: 900;
   font-size: 16px;
   color: #fff;
}
.about *{
   letter-spacing: .02em
}
/* ==========================================================================
   Videos (See the Style Guide)
   ========================================================================== */
h1.video-title{
   font-weight: 500;
   font-size: 32px;
   color: #618a94;
}
.gallery-header{
   font-weight: 500;
   font-size: 24px;
   color: #618a94;
}
.gallery-titles{
   font-weight: 500;
   font-size: 15px;
   color: #618a94;
}
p.video-thumb-title {
text-align: center;
margin-top: 5px;
}
.video-block {
padding-bottom: 25px;
}
.btn-vid{
float: right;
margin-bottom: 10px;
}
/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   background: #628A94;
   border-bottom: 15px solid #436268;
   padding: 15px 0px;
}

body.home .banner {margin:0px;}

.navbar-default .navbar-toggle .icon-bar {
background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
text-transform: uppercase;
font-size: 17px;
letter-spacing: .04em;
border-radius: 20px;
margin: 0px 5px;
padding: 6px 10px;
font-weight: 600;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

.navbar-default .navbar-nav>li:hover>a, .navbar-default .navbar-nav>li>a:focus {
   border-radius: 20px;
   color:#618a94;
   background-color: #fff;
}

.navbar-default .navbar-nav>li>a:hover:after {
height:75%;
opacity:1;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
   color:#618a94;
   background-color: #fff;
}

a.navbar-brand {
max-width: 110px;
padding: 0px;
margin-left: 15px;
}

ul#menu-primary-navigation {
float: right;
margin: 10px 25px 0px 0px;
}
.navbar-default .navbar-nav>li>a{
   color: #fff;
}

.slide-color-1 {background-color:#f2f0f1;}

.email-signup {
background: #628A94;
text-align:center;
margin-bottom:30px;
border-bottom: 15px solid #436268;
}

.email-signup h2, .email-signup h3 {color:#fff;}

.submit-button {
background: #436268;
color:#fff;
border: none;
font-family: 'museo-sans', Helvetica, sans-serif;	
}

.email-signup #mc_embed_signup {padding: 45px 0px;}
.video-box i {
font-size: 90px;
color: rgba(255,255,255,.7);
position: absolute;
top: 35%;
right: 50%;
left: 50%;
margin-left: -25%;
margin-right: -25%;
pointer-events: none;
}
a[title='Edit view'] {
display: none;
}
.video-box {
text-align: center;
position: relative;
}
/* ==========================================================================
   Content
   ========================================================================== */

.content {
padding: 25px 0px;
}

.wrap.container-fluid {

}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }
.sidebar section {
padding: 0px 0px 30px 0px;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.bottom-email-signup {background: #628A94; margin-top:140px;}
.bottom-email-signup h2,
.bottom-email-signup h3 {color:#fff; text-align:center;}
.bottom-email-signup #mc_embed_signup {padding: 45px 0px;}
.erin-footer {position: absolute;top: -156px;}

footer a {color:#fff;}
.content-info{background: #436268; width:100%;}

#social ul {margin:0px; padding:0px; list-style: none; padding-top: 15px;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

.credits{
   color: #fff;
   float: right;
}
#menu-socials i {
font-size: 24px;
padding: 0px 5px;
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
h1{
   font-size: 56px;
   line-height: 56px;
}
h2{
   font-size: 37px;
}
h3{
   font-size: 29px;
}

a.navbar-brand {
margin-left: 0px;
}

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
.container-fluid {
max-width: 1170px;
}



}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
a.navbar-brand {
margin-left: 75px;
}	
}
